{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/Usermanagment/Register.css' %}">
</head>
<body>      
    <form action="Register" method="POST">
    {% csrf_token %}
        <div class="container">
          <h1 style='text-align:center'>Register</h1>
          <p  style='text-align:center;font-family:Times New Roman", Times, serif'>Please fill in this form to create an account.</p>
          
          <input type="text" placeholder="Enter Username" name="username" required>
          
          <input type="text" placeholder="Enter First name" name="firstname" >

          <input type="text" placeholder="Enter Last name" name="lastname" >

          <input type="email" placeholder="Enter Email" name="email" required>
      
          <input type="password" placeholder="Enter Password" name="password" required>
      
          <input type="password" placeholder="Repeat Password" name="password1" required>

          <button type="submit" class="registerbtn">Register</button>
        </div>
      
        <div style='color:white;background-color:#666' class="container signin bottom-container ">
          <div class="row">
            <div class="col">            
              <p >Already have an account? <a href="Login">Sign in</a>.</p>
            </div>
          </div>
        </div>
      </form>
      {% if messages%}
        {% for message in messages%}
        <div><p>{{message}}</p></div>
        {% endfor %}
      {% endif%}
</body>
</html>